.canine-cart-container {
  min-height: 100vh;
  background-image: url("../assets/3.png");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

.canine-cart-header {
  text-align: center;
  color: #333;
  font-size: 2rem;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(245, 195, 107, 0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 16px 16px;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: 32px;
}

.canine-product-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.product-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 280px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0;
  color: #222;
}

.product-card p {
  color: #444;
  font-size: 0.95rem;
}
