.auth-container {
  background-color: rgba(255, 255, 255, 0.92);
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  justify-content: center;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 24px;
  color: #333;
}

.auth-container input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.auth-container input:focus {
  border-color: #5e9bfc;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  background-color: #5e9bfc;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container button:hover {
  background-color: #407ee0;
}

.auth-container p {
  text-align: center;
  margin-top: 15px;
  color: #555;
}

.auth-container a {
  color: #5e9bfc;
  text-decoration: none;
  font-weight: 500;
}
.auth-header {
  background-color: #0f48e4;
  color: white;
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
  border-radius: 20px;
}
.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../assets/6.png);
}

.home-logo {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  padding-top: 0px;
  position: relative;
  top: 16px;
  left: 20px;
}
